#map { height: 400px; }
.container { margin-top: 30px; }
body{
    background-color: rgba(89, 85, 85, 0.468);
}
.input{
    /* font-size: 10px; */
    padding: 6px 12px;
    margin-bottom:15px ;
}
.button{
background-color: #007BFF;
padding: 6px 12px;
color: white;
border: none;
border-radius: 5px;
}
.select{
    margin: 1px;
}
label{
    
}